<table mat-table [dataSource]="absences" class="mat-elevation-z8">
  <ng-container matColumnDef="dateOfAbsence">
    <th mat-header-cell *matHeaderCellDef>Date of Absence</th>
    <td mat-cell *matCellDef="let absence">
      {{ absence.dateOfAbsence | date }}
    </td>
  </ng-container>

  <ng-container matColumnDef="numberOfPeriod">
    <th mat-header-cell *matHeaderCellDef>Period</th>
    <td mat-cell *matCellDef="let absence">{{ absence.numberOfPeriod }}</td>
  </ng-container>

  <ng-container matColumnDef="subject">
    <th mat-header-cell *matHeaderCellDef>Subject</th>
    <td mat-cell *matCellDef="let absence">{{ absence.subject }}</td>
  </ng-container>

  <ng-container matColumnDef="absenceState">
    <th mat-header-cell *matHeaderCellDef>Absence State</th>
    <td mat-cell *matCellDef="let absence">{{ absence.absenceState }}</td>
  </ng-container>

  <ng-container matColumnDef="absenceType">
    <th mat-header-cell *matHeaderCellDef>Absence Type</th>
    <td mat-cell *matCellDef="let absence">{{ absence.absenceType }}</td>
  </ng-container>

  <ng-container matColumnDef="dateAdded">
    <th mat-header-cell *matHeaderCellDef>Date Added</th>
    <td mat-cell *matCellDef="let absence">
      {{ absence.dateAdded | date : "short" }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
