// .d1 {
//     height: 500px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     /*border-style: solid;
//     border-color:rgb(94, 172, 148);*/
//    background-color: rgb(94, 172, 148);
// }
// form {
//     height: 250px;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     justify-content: center;

//     /*border-color:rgb(94, 108, 172);
//    background-color: rgb(94, 108, 172);*/
// }
body {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // height: 100vh;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}
.green-button {
  // background-color: green;
  color: green;
}
// .col-sm
// {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     align-content:flex-start ;
// }
// .text-center{
//   padding-left: -15px;
// }

img {
  width: 100%;
  height: 100%;
}

.center {
  width: 100vw;
  height: 100vh;
  margin: 10px auto;
}

.center2 {
  height: 50%;
  margin: 10px auto;
}

.main-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.matCardStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.divCardLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50%;
  float: left;
}
.full-width {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Ensure no overflow on the body and html */
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* Center the form horizontally and vertically */
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Full viewport height */
  overflow: hidden; /* Ensure no scroll bars */
}

/* Style the card and form */
.login-card {
  width: 90%;
  max-width: 400px; /* Ensure the card is not too wide */
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}
