<div class="schedule-container">
  <div class="selectors">
    <div class="klass-selector">
      <label for="klassDropdown">Избери клас:</label>
      <select
        id="klassDropdown"
        [value]="selectedKlassId"
        (change)="onKlassChange($event)"
      >
        <option *ngFor="let klass of klasses" [value]="klass.id">
          {{ klass.name }}
        </option>
      </select>
    </div>

    <div class="term-selector" *ngIf="availableTerms.length > 0">
      <label for="termDropdown">Избери срок:</label>
      <select
        id="termDropdown"
        [value]="selectedTermId"
        (change)="onTermChange($event)"
      >
        <option *ngFor="let term of availableTerms" [value]="term.id">
          {{ getTermName(term.termType) }}
        </option>
      </select>
    </div>
  </div>

  <!-- <div style="margin: 15px 0">
    <button
      mat-flat-button
      color="primary"
      (click)="openCreateScheduleDialog()"
    >
      Създай нов график
    </button>
  </div> -->

  <div style="margin: 15px 0">
    <button
      mat-flat-button
      color="primary"
      (click)="openEditScheduleDialog()"
      [disabled]="!filteredSchedule.length"
    >
      Редактирай график
    </button>
  </div>

  <table
    class="schedule-table"
    *ngIf="filteredSchedule.length > 0; else noSchedule"
  >
    <thead>
      <tr>
        <th>Час</th>
        <th>Понеделник</th>
        <th>Вторник</th>
        <th>Сряда</th>
        <th>Четвъртък</th>
        <th>Петък</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let period of [1, 2, 3, 4, 5, 6, 7]">
        <td>{{ period }}</td>
        <td>{{ getSubjectTitle(mondaySchedule, period) }}</td>
        <td>{{ getSubjectTitle(tuesdaySchedule, period) }}</td>
        <td>{{ getSubjectTitle(wednesdaySchedule, period) }}</td>
        <td>{{ getSubjectTitle(thursdaySchedule, period) }}</td>
        <td>{{ getSubjectTitle(fridaySchedule, period) }}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #noSchedule>
    <p>Няма налично разписание за избрания клас и срок.</p>
    <button
      mat-flat-button
      color="primary"
      (click)="openCreateScheduleDialog()"
      style="margin-top: 10px"
    >
      Искате ли да създадете нов график?
    </button>
  </ng-template>
</div>
