<mat-tab-group [(selectedIndex)]="selectedTabIndex" class="tabs-container">
  <mat-tab label="Students">
    <app-headmaster-students-tab></app-headmaster-students-tab>
  </mat-tab>

  <mat-tab label="Teachers">
    <app-headmaster-teachers-tab></app-headmaster-teachers-tab>
  </mat-tab>
  <!--
    <mat-tab label="Parents">
      <app-headmaster-parents-tab></app-headmaster-parents-tab>
    </mat-tab>
    <mat-tab label="Klasses">
      <app-headmaster-klasses-tab></app-headmaster-klasses-tab>
    </mat-tab>
    <mat-tab label="Schedule">
      <app-headmaster-schedule-tab></app-headmaster-schedule-tab> 
     </mat-tab> -->
</mat-tab-group>
