<!-- Custom merged header row for terms -->
<table class="mat-elevation-z8 full-width-table">
  <thead>
    <tr>
      <th rowspan="2">Предмет</th>
      <th colspan="2">I срок</th>
      <th colspan="2">II срок</th>
      <th rowspan="2">Годишна</th>
    </tr>
    <tr>
      <th>Текущи</th>
      <th>Срочна</th>
      <th>Текущи</th>
      <th>Срочна</th>
    </tr>
  </thead>
</table>

<!-- Now the Angular Material table for data only (no header rows here) -->
<table
  mat-table
  [dataSource]="grades"
  class="mat-elevation-z8 full-width-table"
>
  <!-- SUBJECT -->
  <ng-container matColumnDef="subject">
    <td mat-cell *matCellDef="let grade">{{ grade.subject }}</td>
  </ng-container>

  <!-- WINTER TEKUSHTA -->
  <ng-container matColumnDef="winterTekushta">
    <td mat-cell *matCellDef="let grade">
      <ng-container *ngFor="let g of grade.winter.tekushta">
        <span
          class="grade-chip"
          [ngClass]="getGradeClass(g.grade)"
          matTooltip="Добавена: {{
            g.dateAdded | date : 'shortDate'
          }}, Оценена: {{ g.dateOfGrade | date : 'shortDate' }}"
        >
          {{ g.grade }}
        </span>
      </ng-container>
    </td>
  </ng-container>

  <!-- WINTER SROCHNA -->
  <ng-container matColumnDef="winterSrochna">
    <td mat-cell *matCellDef="let grade">
      <ng-container *ngFor="let g of grade.winter.srochna">
        <span
          class="grade-chip"
          [ngClass]="getGradeClass(g.grade)"
          matTooltip="Добавена: {{
            g.dateAdded | date : 'shortDate'
          }}, Оценена: {{ g.dateOfGrade | date : 'shortDate' }}"
        >
          {{ g.grade }}
        </span>
      </ng-container>
    </td>
  </ng-container>

  <!-- SPRING TEKUSHTA -->
  <ng-container matColumnDef="springTekushta">
    <td mat-cell *matCellDef="let grade">
      <ng-container *ngFor="let g of grade.spring.tekushta">
        <span
          class="grade-chip"
          [ngClass]="getGradeClass(g.grade)"
          matTooltip="Добавена: {{
            g.dateAdded | date : 'shortDate'
          }}, Оценена: {{ g.dateOfGrade | date : 'shortDate' }}"
        >
          {{ g.grade }}
        </span>
      </ng-container>
    </td>
  </ng-container>

  <!-- SPRING SROCHNA -->
  <ng-container matColumnDef="springSrochna">
    <td mat-cell *matCellDef="let grade">
      <ng-container *ngFor="let g of grade.spring.srochna">
        <span
          class="grade-chip"
          [ngClass]="getGradeClass(g.grade)"
          matTooltip="Добавена: {{
            g.dateAdded | date : 'shortDate'
          }}, Оценена: {{ g.dateOfGrade | date : 'shortDate' }}"
        >
          {{ g.grade }}
        </span>
      </ng-container>
    </td>
  </ng-container>

  <!-- GODISHNA -->
  <ng-container matColumnDef="godishna">
    <td mat-cell *matCellDef="let grade">
      <ng-container *ngFor="let g of grade.godishna">
        <span
          class="grade-chip"
          [ngClass]="getGradeClass(g.grade)"
          matTooltip="Добавена: {{
            g.dateAdded | date : 'shortDate'
          }}, Оценена: {{ g.dateOfGrade | date : 'shortDate' }}"
        >
          {{ g.grade }}
        </span>
      </ng-container>
    </td>
  </ng-container>

  <!-- DATA ROW -->
  <tr mat-row *matRowDef="let row; columns: secondHeaderRow"></tr>
</table>
